html {
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color:#9a9c9a;
  }
  
  #target{
    background:white;
    border:2px solid black;
    
  }
  
  .top p {
    line-height:8px;
  }
  
  #heading {
    color:#02a675;
  }
  
  #trial-text {
    color:#cfe607;
  }
  
  .top {
    padding-left:20px;
    margin-bottom:50px;
  }
  
  .top p {
    color:#ccccca;
  }
  
  .bottom {
    display:flex;
    height:230px;
    color:#ebedeb;
  }
  
  .left {
    box-sizing:border-box;
    flex:50%;
    background:#02a675;
    font-size:18px;
  }
  
  .right {
    box-sizing:border-box;
    font-size:15px;
    flex:50%;
    background:#03a824;
  }
  .right p {
    line-height:6px;
  }
  
  .left, .right {
     padding-left:20px;
  /*    padding-top:5px; */
    
  }
  
  .button {
    background-color:#cfe607;
    color:#ebedeb;
    border:none;
    width:85%;
    height:30px;
  }
  