/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Palanquin:wght@100;200;300;400;500;600;700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* border: none; */

}

.task {
  width: 100%;
  padding: 5px 0;
  min-height: 56px;
  border-bottom: 1px solid #777a92;
  /* border: 1px solid gray; */
  /* border-radius: 8px; */
  display: flex;
  align-items: center;
  /* margin: 2px 0; */
  
}

.dark .task {
  background-color: #25273c;
}

.task:hover {
  .right-btn{
    opacity: 1;
  }
}

.unchecked {
  flex-grow: 0;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2%;
  margin-right: 4.5%;
}

.dark .unchecked {
  border: 1px solid #777a92;
}

.checked {
  flex-grow: 0;
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  margin-left: 2%;
  margin-right: 4.5%;
  background-color: rgb(106, 106, 252);
  background-image: url('../images/icon-check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  border: none;
}

.draw-line {
  text-decoration-line: line-through;
  color: grey;
}

.dark .draw-line{
  color: #777a92;
}
.dark .no-draw-line {
  color: #cacde8;
}

.left {
  width: 100%;
  gap: 4px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* flex-grow: 0;
  flex-shrink: 0; */
  padding-left: 5px;

}

.left > p {
  max-width: 75%;
  white-space: normal;
}

.left > button {
  flex-grow: 0;
  flex-shrink: 0;
}

.right-btn {
  margin-right: 10px;
  opacity: 0;
  flex-grow: 0;
  flex-shrink: 0;
}